<%include header.ejs%>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div ng-controller="appNameCtrl as appNameCtrl" class="loginscreen animated fadeInDown">
            <div class="row">
                <div class=" col-xs-12 background-lightgray  font-bold">
                  <h1>Create App</h1>
                    <p>Description</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 margin-top-50">
                    <form role="form" ng-submit="appNameCtrl.addApp()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 text-right">
                                    <label>Add App name</label>
                                </div>
                                <div class="col-xs-6 text-left">
                                    <input type="text" class="form-control" placeholder="App Name"
                                           ng-required="true" ng-model="appNameCtrl.appName" pattern="[A-Za-z]{0,8}" title="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-6 text-right">
                                <label></label>
                            </div>
                            <div class="col-md-6 col-xs-6 text-left">
                                <button type="submit" class="btn btn-primary block full-width m-b">
                                    Create App
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-xs-12 margin-top-50">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 text-center">
                            <label class="">List of existing Apps</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4 update-category">
                            <div class="list-group-item padding-0 list-group-item-infoNew font-bold text-left" ng-repeat="appName in appNameCtrl.appNameArray">
                                <p class="text-center ">{{appName.appName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="appNameCtrl.recentAdd">
                <div class="col-md-6 col-xs-12">
                        <div class="col-md-4 col-xs-12"></div>
                        <div class="col-md-6 col-xs-12">
                            <div class="font-bold font-15 bg-danger">
                                {{appNameCtrl.recentAdd}}
                            </div>
                        </div>
                </div>
            </div>
            <div class="row text-center">

            </div>

        </div>
    </div>
</div>
