<div class="row border-bottom" ng-controller="innerHeaderCtrl as IHC">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>

        </div>
        <ul class="nav navbar-top-links navbar-right">


            <li>
                <a ng-click="IHC.logout()">
                    <i class="fa fa-sign-out"></i> Log Out
                </a>
            </li>
        </ul>

    </nav>
</div>