<%include header.ejs%>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div ng-controller="reviewAllQuestionsCtrl as reviewAllQuestionsCtrl" class="loginscreen   animated fadeInDown">
            <div class="row">
                <div class="col-xs-12 background-lightgray  font-bold">
                    <h1>Review Questions</h1>
                    <p>You can review all questions by appwise</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-2 col-xs-6 margin-top-50 text-center">
                   <p class="text-center"> App Name</p>
                    <div class="font-bold text-center" ng-repeat="app in reviewAllQuestionsCtrl.appNameArray" ng-click="reviewAllQuestionsCtrl.selectApp(app)">
                        <button type="submit" class="btn btn-primary text-nowrap float-right margin-right-25 block m-b" style="width: 90%">
                            {{app.appName}}
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 margin-top-50">
                    <div class="row">
                        <div class="col-xs-12">
                            Papers / Topics
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <label>LIst of papers</label>
                        <div class=" font-bold text-left" ng-repeat="paper in reviewAllQuestionsCtrl.papers"  ng-if="paper.type=='paper'" ng-click="reviewAllQuestionsCtrl.filterByPaperOrTopic(paper)">

                            <button type="submit" class="btn btn-success  text-nowrap margin-right-25 block m-b" style="width: 100%">
                               <p>{{paper.name}}</p>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <label>LIst of topic</label>
                        <div class=" font-bold text-left" ng-repeat="paper in reviewAllQuestionsCtrl.papers" ng-if="paper.type=='topic'" ng-click="reviewAllQuestionsCtrl.filterByPaperOrTopic(paper)">

                            <button type="submit" class="btn btn-success  text-nowrap margin-right-25 block m-b" style="width: 100%">
                                {{paper.name}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 margin-top-50" ng-if="!reviewAllQuestionsCtrl.name">
                    <h3>No one app is selected</h3>
                    </div>
                <div class="col-md-6 col-xs-12 margin-top-50" ng-if="reviewAllQuestionsCtrl.name&&!reviewAllQuestionsCtrl.questions.length">
                    <h3>No questions in {{reviewAllQuestionsCtrl.name}} of <span ng-if="reviewAllQuestionsCtrl.paperForShow&&!reviewAllQuestionsCtrl.questions.length">
                            {{reviewAllQuestionsCtrl.paperForShow.name}}
                        </span> </h3>
                    </div>
                <div class="col-md-6 col-xs-12 scrollDiv update-category margin-top-50" ng-if="reviewAllQuestionsCtrl.questions.length">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 font-15 text-center  position-fixed margin-top--20">
                            All Questions
                        </div>
                    </div>
                    <div class="row position-absolute">
                        <div class="col-xs-12  card-mod text-left background-lightgray full-width padding-right-25 padding-top-5 " ng-repeat="question in reviewAllQuestionsCtrl.questions" style="width: 100%">
                                <div class="row">
                                     <div class="col-xs-12 text-right">
                                         <button type="submit" class="btn btn-danger btn-circle arrow m-b" ng-click="reviewAllQuestionsCtrl.deleteQuestion(question)">
                                            <i class="fa fa-times"></i>
                                         </button>
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p><strong>Q.{{$index+1}}</strong>{{question.question}}</p>
                                        <strong>Options :-</strong> <p ng-repeat="op in question.options" ng-if="op.option">{{$index+1}} {{op.option}}</p>
                                    </div>
                                </div>
                                <hr class="hr margin-0">
                                <div class="row margin-top-5">
                                    <div class="col-xs-12">
                                        <p><strong>Correct :-</strong>{{question.correct}}</p>
                                        <p><strong>Explanation :-</strong>{{question.explanation}}</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
   </div>
</div>
